:root {
    --main-color: #0E1218;
    --white-color:#fff;
    --black-color:#000;
    --semiblack-color:#252020;
    --main-font: 'Prompt', sans-serif;
}

body{
    font-family: var(--main-font);
   margin: 0;
   font-size: 16px;
   line-height: 20px;
 }
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--main-font)
}
.container-fluid{
  padding: 0 4%;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    font-family: var(--main-font)
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

:focus {
    outline: none !important;
}
/* Header */
#main-menu{
  background: #fff;
  padding: 10px 0px;
}
.core-menu{
    text-align: center;
    font-size: 16px;
    font-family: var(--main-font);
    overflow: hidden;
    margin-bottom: 0;
}
.core-menu li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    padding: 0px 0px 0px 20px;
}
.core-menu li a {
    display: inline-block;
    padding: 13px 10px;
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
}
.core-menu li.active a {
    transition: all .5s;
}
.get_btn{
    background: #013385;
    padding: 10px 10px;
}
.get_btn a{
  color: #fff!important;
}
.header{
    z-index: 99;
}
.hamburger-menu {
    padding: 1em;
    display: none;
    text-transform: uppercase;
}
.logo{
	width:200px;
}
.logo img{
  width: 100%;
}
#main-menu .navbar{
	padding:0;
}

/* banner-sec */
.banner_sec, .banner_sec .slick-slide {
  height: 80vh;
}

.banner_sec .slick-dots {
  position: absolute;
  bottom: 19%;
  left: 5%;
  display: flex;
  transform: translate(-10%, 0);
}
.banner_sec .slick-dots li button {
    background: var(--white-color);
    border: none;
    font-size: 0;
    line-height: 0;
    width: 8px;
    height: 8px;
    padding: 0;
}
.banner_sec .slick-dots li{
  padding-right:5px;
}
.banner_sec .slick-dots li.slick-active{
	position:relative;
	padding-right:5px;
	transition:all ease-in 0.3s;
}
.banner_sec .slick-dots li.slick-active button{
  width: 30px;
}


.banner-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;  
}
.banner-img {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}
.banner-img::before{
  position: absolute;
  content:"";
  background: rgb(0 0 0 / 50%);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bn-wrap {
    position: relative;
    z-index: 1;
    margin-top: 12%;
}
.bg_btm_left_wrap{
  position: relative;
}
.banner-slider{
	height:100%;
}
.bn-text {
 margin-bottom: 50px;
}
.bn-text h1{
  font-size: 60px;
  line-height: 82px;
  color: var(--white-color);
  font-weight: 700;
  margin-bottom: 20px;
}
.bn-text span{
  font-size: 20px;
  color: var(--white-color);
}
.btn-get .btn{
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    padding: 10px 30px;
}
.bg-1 img{
    width: 100%;
}
/* bg_btm */
.p-50{
  padding: 50px 0px;
}
.bg_btm{
  margin-top: -50px;
}
.bg_btm .bg_btm_left_box{
  background: #fff;
    padding: 15px;
    box-shadow: 0px 0px 42px rgb(0 0 0 / 10%);
    margin-bottom: 35px;
    border-radius: 15px;
    min-height: 156px;
    align-items: center;
}
.bg_btm_left_icon{
  padding: 0px 13px;
  border-right: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg_btm_left_text{
  padding: 0px 15px;
}
.bg_btm_left_text h2{ 
  font-size: 48px;
  font-weight: 700;
}
.bg_btm_left_text p{ 
  font-size: 14px;
  font-weight: 400;
}
.frm_wrap{
  background: #fff;
  box-shadow: 0px 0px 46px rgb(0 0 0 / 10%);
  padding: 30px;
  position: relative;
}
.frm_wrap::before{
  position: absolute;
  content: "";
  background: #2073E9;
  width: 50%;
  height: 8px;
  top: -1%;
  left: 0;
}
.frm_wrap .form-control{
  margin-bottom: 20px;
  border-radius: 30px;
  padding: 20px 20px;
  background: #E2EEFF;
  font-size: 14px;
  border: none;
}
.frm_text{
  text-align: center;
  padding: 30px 0px;
}
.frm_text h2{
  font-size: 24px;
  font-weight: 600;
}
.frm_text h3{
  font-size: 18px;
  font-weight: 400;
}
.btn.get-btn{
  padding: 15px 20px;
  border-radius: 10px;
  background: rgb(15,80,178);
  background: linear-gradient(90deg, #FF7B02 0%, #ff8719 35%);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}
.btn.get-btn.sent-btn{
  width: 100%;
  border-radius: 30px;
}
/* services-sec */
.services{
  position: relative;
}

.services-head h2{
  font-size: 52px;
  font-weight: 700;
}
.h-white{
  color: #fff;
}
.h-blk{
  color: #000;
}
.serv-slide-main{
  padding: 40px 20px 20px;
 }
.serv-slide-1{
  background: #fff;
  padding: 0px 15px 20px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgb(0 0 0 / 10%);
}
.serv-slide-1 img{
  width: 100%;
  margin-top: -26px;
  display: initial;
  border-radius: 15px;
}
.serv-slide-text{
  margin-top: 20px;
}
.serv-slide-text h3{
  font-size: 24px;
  font-weight: 600;
}
.serv-slide-text p{
  font-size: 14px;
  line-height: 30px;
}
.services .serv-slide-wrap .slick-nav i {
  color: #000;
  z-index: 999;
  background: #fff;
  padding: 7px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
}


.services .serv-slide-wrap .slick-nav.prev-arrow {
  left: -3%;
}
.services .serv-slide-wrap .slick-nav.prev-arrow, .services .slick-nav.next-arrow{
  position: absolute;
  top: 50%;

}

.services .slick-nav.next-arrow {
  left: auto;
  right: -3%;
}

/* our-approach */
.our-approach, .our-approach-seo{
  background: #F5F5F5;
}
.services-head p{
  font-size: 14px;
  line-height: 30px;
}

/* faq-sec */
.faq-sec{
 position: relative;
}
.faq-sec::before {
  position: absolute;
  content: "";
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgb(51 51 51) 0%, rgb(59 59 59) 35%);
  border-radius: 0 0 50px 50px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.faq-sec-left .accordion-content h2{
  font-size: 52px;
  font-weight: 700;
}
.faq-sec-left .accordion-content {
  margin: 0 auto;
    padding: 55px 0 0;
    border-radius: 8px;
    color: #fff;
}
.faq-sec-left .accordion-item {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  margin: 40px 0px;
}
.faq-sec-left .item-header {
  display: flex;
  justify-content: space-between;
  column-gap: 0.2em;
}

.faq-sec-left .item-icon {
  flex: 0 0 25px;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
}
.faq-sec-left .item-icon i {
  transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}
.faq-sec-left .item-question {
  font-size: 1em;
  line-height: 1;
  font-weight: 500;
}

.faq-sec-left .active .item-icon i {
  transform: rotate(90deg);
}

.faq-sec-left .active .item-question {
  font-weight: 500;
}

.faq-sec-left .item-content {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}

.faq-sec-left .item-answer {
  line-height: 150%;
  opacity: 0.8;
}
.faq-sec-img{
  padding: 100px 0px;
}
.faq-sec-img img{
  width: 100%;
}

/* Footer */
.ftr-sec{
  padding: 0px 0px 0px;
  position: relative;
}
.copy-text{
  padding: 30px 0px;
}
.copy-text h4{
  font-size: 14px;
  color: #1E1E1E;
}
/*28-07-2023*/
/*.login_logo {*/
/*    width: 138px;*/
/*}*/
/*.login_logo a img {*/
/*    width: 100%;*/
/*}*/


